.buttonStyle {
  margin-top: 1em;
  width: 10em;
  border: solid;
  border-width: thin;
  color: black;
  background: rgb(97, 156, 106);
  padding: 15px 32px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.buttons-container {
  width: 100%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.buttonsSpan {
  width: 100%;
}

h1 {
  text-align: center;
}

body {
  font-family: Source Sans Pro;
  background-color: #eee;
  text-align: center;
}
